@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.container {
  font-family: "Open Sans", sans-serif;
}
.container h1 {
  color: #2a394b;
  width: 90%;
  margin: 15px auto;
}
.container table {
  width: 90%;
  text-align: left;
  border-radius: 8px;
  border-spacing: 0;
  background-color: white;
  border: 1px solid #e3e9ee;
  color: #162a4e;
  margin: 0 auto;
}
.container th {
  background-color: white;
  padding: 10px;
  color: #5e6c84;
  font-weight: 400;
  border-right: 1px solid #e3e9ee;
}
.container th:first-child {
  border-top-left-radius: 8px;
}
.container th:last-child {
  border-top-right-radius: 8px;
}
.container .lines {
  border-radius: 8px;
  border: 1px solid #e3e9ee;
}
.container .lines td {
  padding: 10px;
  border-right: 1px solid #e3e9ee;
  border-top: 1px solid #e3e9ee;
}
.container .lines td:last-child {
  padding: 10px;
  border-bottom: none;
}
.container .btnRemove {
  background-color: #e31414;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 5px;
  font-weight: 800;
  margin-left: 5px;
}
.container .btnRemove:hover {
  background-color: #bb0d0d;
}
.container .btnEdit {
  background-color: #0f6fde;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 5px;
  font-weight: 800;
}
.container .btnEdit:hover {
  background-color: #0a59b4;
}
.container .btnNew {
  background-color: #00bc6a;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 5px;
  font-weight: 800;
  content: "\002B";
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 50px;
  transition: all 0.3s ease-in-out;
}
.container .btnNew:hover {
  background-color: #038b50;
  transform: rotate(135deg);
}
.modalTitle {
  font-family: "Open Sans", sans-serif;
  color: #2a394b;
  font-weight: 400;
}
.modalForm {
  display: flex;
  flex-direction: column;
}
.modalForm label {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
}
.modalForm input,
.modalForm select {
  font-family: "Open Sans", sans-serif;
  border: 1px solid #e3e9ee;
  padding: 5px;
  background-color: white;
}
.modalForm .btnEdit {
  background-color: #0f6fde;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 5px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 5px 0;
}
.modalForm .btnRemove {
  background-color: #e31414;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 5px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.inputId,
.labelId {
  display: none;
}
